<html lang="en-US" ng-app="TIYAngularApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/tiy-ng-controller.js"></script>
<body ng-controller="SampleController">

{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}

    <input type="button" ng-click="getTodos()" value="Refresh Game Data"/>

    <div style="position: relative; float: left; width: 40%; padding: 20px;">
        <h2>Todo List</h2>
        <ul>
            <li ng-repeat="todo in todos">
                {{todo.text}}- {{todo.isDone}}
                <button ng-click="deleteTodo(todo.id)">delete</button>
                <button ng-click="toggleTodo(todo.id)">toggle</button>
            </li>
        </ul>
    </div>


</body>
</html>